<h1>Blockchain</h1>


<ul *ngIf="blockchain">
	<li *ngFor="let block of blockchain">
		<accordion>
		  <accordion-group heading="Block {{block.height}}" [ngClass]="{roundCornerValidPanel : block.valid, roundCornerInValidPanel : !block.valid}">
		    <p><strong>Height:</strong> {{ block.height }}</p>
			<p><strong>Hash:</strong> {{ block.hash }}</p>
			<p><strong>Previous Block:</strong> {{ block.previousBlock }}</p>
			<p><strong>Time:</strong> {{ block.timestamp }}</p>
			<p *ngIf="block.transactions"><strong>Number Of Transactions: </strong> {{block.transactions.length}}</p>
			<ul *ngIf="block.transactions">
				<strong>Transactions</strong>
				<li *ngFor="let tx of block.transactions">
					<accordion>
						<accordion-group heading="Transaction" [ngClass]="{roundCornerValidPanel : tx.valid, roundCornerInValidPanel : !tx.valid}">
							<div class="overflowText"><strong>Sender:</strong> {{ tx.sender }}</div>
							<div class="overflowText"><strong>Recipient:</strong> {{ tx.recipient }}</div>
							<p><strong>Data:</strong> {{ tx.data }}</p>
							<p><strong>Timestamp:</strong> {{ tx.timestamp }}</p>
							<p><strong>TxHash:</strong> {{ tx.txHash }}</p>
							<p><strong>Signature:</strong> {{ tx.txSignature }}</p>
						</accordion-group>
					</accordion>
				</li>
			</ul>
			<p><strong>Merkle Root:</strong> {{ block.merkelHash }}</p>
			<p><strong>Nonce:</strong> {{ block.nonce }}</p>
		  </accordion-group>
		</accordion>
	</li>
</ul>